body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color:#434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* .header-page{
    padding: 24px 156px;
} */

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700; 
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    
}

.logo .gray-studio{
    color: #2e2f42;
}

.studio-portf-cont a{
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
}

.studio-portf-cont, .contacts, .info, .our-team, .portfolio{
    list-style-type: none;
    /* padding: 0; */
}


.hover-focus-link:hover,.hover-focus-link:focus{
    color: #404bbf;
}

.contacts a{
    color: currentColor;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
    font-style: normal;
}

.main-page{
    background-color: #2e2f42;
}

.main-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.main-button{
    /* padding: 16px 32px; */
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover, .main-button:focus{
    background-color: #404bbf;
}


.sub-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-text{

}

.main-page-team{
    background-color: #f4f4fd;
    /* padding: 120px 156px; */
}

.name-item-team{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.prof-item{
    letter-spacing: 0.02em;
    text-align: center;
}

.bg-team{
    background-color: #fff;
    /* width: 264px; */
}

.portf-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    /* margin-bottom: 72px; */
}

.title-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.text-portf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-page{
    background-color: #2e2f42;
    /* padding: 100px 156px; */
}
.footer-text{
    color: #f4f4fd;
}